.container{
    max-width: 1290px;
    padding: 0;
}

.row{
    max-width: 1290px;
    margin: 0;
}
.banner-bottom-slider .row{
    max-width: unset;
    margin: 0 -15px;
}
.row>*{
    padding-left: 15px;
    padding-right: 15px;
}
.col-lg-4
{
    padding-left: 0;
    padding-right: 0;
}
.popular-products .row{
    height: 100%;
}
.popular-products .row .col{
    height: 50%;
}
.popular-products-grid .col-lg-4{
    border-top: solid 1px #eee;
    border-right: solid 1px #eee;
}
.footer-feature .col-lg-4{
    margin-top: 90px;
}
.recommend-grid-product .col{
    padding: 0;
}
.featured-categories-grid-products .row{
    height: 100%;
}
.featured-categories-grid-products .col-lg-4{
    border-right: solid 1px #eee;
    display: flex;
}
.brand-content .row{
    background-color: white;
}
.brand-content .row .col{
    border-top: solid 1px #eee;
    border-right: solid 1px #eee;
    padding: 0;
}
.popular-products-grid .row{
    max-width: 100%;
    margin: 0;
}
.featured-categories-grid-products .col-lg-4{
    height: 50%;
    padding: 30px 20px 20px 20px;
}